[Attributes]
# can be set to 10.0 in increate scan times a bunch
delay = 0
# baremetal
# pcap_data_file = ../../config/senddata.json
# docker config
pcap_data_file = /senddata.json

[Whitelist]
addresses = [
    "1.2.3.4",
    "192.2.2.1"
    ]
whitelistedPorts = [
    5984,
    9998,
    2376,
    2377,
    5000,
    7946,
    4789
    ]

#These need to be configured for each honeypot
[IPs]
honeypotIP = localhost
managementIPs = [
    "10.11.12.125",
    "172.18.0.1",
    "172.17.0.1"
    ]
