[Attributes]
delay = 10.0
pcap_data_file = ../data/sd_altered.json

[Whitelist]
addresses = [
    "1.2.3.4",
    "5.6.7.8"
    ]
whitelistedPorts = [
    7000,
    8000
    ]

#These need to be configured for each honeypot
[IPs]
honeypotIP = 192.168.42.55
managementIPs = [
    "52.87.97.77",
    "54.80.228.0"
    ]
